<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Pequeno</title>
</head>
<body>
    <div class="estrutura">
        <div class="titulo">
            <h1>Apontamento Diário de Alunos 09-08-2022</h1>
        </div>
        <div class="corpo">
            <select class="select_padrao" name="alunos" id="">
                <option value="valor1" selected>Alunos</option>
                <option value="valor2">Valor 2</option>
                <option value="valor3">Valor 3</option>
            </select>

            <input class="input_padrao" placeholder="Ravenna" type="text">

            <input class="input_padrao" placeholder="Observação" type="text">

            <input class="input_padrao" placeholder="Horas ministradas" type="text">

            <div class="check">
                
                    
                    <input type="radio" id="presenca1" name="presenca" value="1" checked>
                    <label class="label_padrao" for="presenca1">Presente</label>
                
                    <input type="radio" id="presenca2" name="presenca" value="2">
                    <label class="label_padrao" for="presenca2" >Ausente</label>
                
            </div>

            <button class="btn_laranja">+</button>
            <hr>
            
            <div class="tabela_diario">
                <table>
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Presença</td>
                            <td>OBS</td>
                            <td>hrs/m</td>
                            <td>Professor</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>Lucas</td>
                        <td>Presente</td>
                        <td>matematica</td>
                        <td>2</td>
                        <td>Ravenna</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Lucas</td>
                        <td>Presente</td>
                        <td>matematica</td>
                        <td>2</td>
                        <td>Ravenna</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                    <tr>
                        <td>Eva</td>
                        <td>Presnete</td>
                        <td>Portugues</td>
                        <td>2</td>
                        <td>Kelllvyn</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="final">
            <button class="btn_azul">Inicio</button>
            <button class="btn_verde">Salva</button>
        </div>
    </div>
</body>
</html>